<div id="contenedor">
    <nav>
        <ul>
            <li>Info.</li>
            <li>Calificaciones</li>
            <li>Contacto</li>
        </ul>
        <button id="navReserva">Reserva</button>
    </nav>
    <div class="slider">
        <img src="img/Logo.png" alt="">
    </div>
    <div id="textOne">
    <h2>Nuestros servicios</h2>
    <p>Disfruta</p>
    <p style="color: blue">_________________________</p>
    </div>
    <div class="parent">
    <div class="div4">4</div>
    <div class="div5">
        Espacio para el entretenimiento
    </div>
    <div class="div6">6</div>
    <div class="div7">7</div>
    <div class="div8">8</div>
    <div class="div9">
        Habitaciones comodas y grandes
    </div>
    <div class="div10">
        Ambiente Familiar
    </div>
</div>
</div>
<div id="textTwo">
    <h2>Comentarios</h2>
    <p>Disfruta</p>
    <p style="color: blue">_________________________</p>
</div>
<div id="commits" >
    <div id="commitOne" style="width: 30dvw; height: 35dvh;">
        <div id="img" style="width: 50px; height: 50px; background-color: black; border-radius: 80px; display: flex; align-items: center; justify-content: center;">
            <p style="text-align: center; color: white;">N</p>
        </div>
        <div id="name">
            <h4>Nelso</h4>
        </div>
        <div>
            <p style="font-size: 14px;">
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
                <span>&#9733;</span>
            </p>
        </div>
        <div id="descrip">
            <p>Excelente la atención y ubicación, habitaciones confortables y limpias, ambiente familiar. Super Recomendado</p>
        </div>
    </div>
</div>
