<div id="contenedor">
    <nav>
        <ul>
            <li>Info.</li>
            <li>Calificaciones</li>
            <li>Contacto</li>
        </ul>
        <button id="navReserva">Reserva</button>
    </nav>
    <div class="slider">
        <img src="img/Logo.png" alt="">
    </div>
    <div id="textOne">
    <h2>Nuestros servicios</h2>
    <p>Disfruta</p>
    <p style="color: blue">_________________________</p>
    </div>
    <div class="parent">
    <div class="div4">4</div>
    <div class="div5">
        Espacio para el entretenimiento
    </div>
    <div class="div6">6</div>
    <div class="div7">7</div>
    <div class="div8">8</div>
    <div class="div9">
        Habitaciones comodas y grandes
    </div>
    <div class="div10">
        Ambiente Familiar
    </div>
</div>
</div>
<div id="textTwo">
    <h2>Comentarios</h2>
    <p>Disfruta</p>
    <p style="color: blue">_________________________</p>
</div>
<div id="commitOne">
    <div id="foto" style="max-width: 20px; max-height: 80px;">
        <p style="font-family: sans-serif;">N</p>
    </div>
    <div id="text">
        <p>Excelente la atención y ubicación, habitaciones confortables y limpias, ambiente familiar. Super Recomendado</p>
    </div>
    <div id="estrellas">
        <p>&#9733;&#9733;&#9733;&#9733;</p>
        <p>Nelson No Se Que </p>
    </div>
</div>
