<div id="contenedor" data-aos="zoom-in">
    <nav>
        <ul>
            <li>Info.</li>
            <li>Calificaciones</li>
            <li>Contacto</li>
        </ul>
        <button id="navReserva">Reserva</button>
    </nav>
    <div class="slider">
        <img src="img/Logo.png" alt="">
    </div>
    <div id="textOne">
    <h2>Nuestros servicios</h2>
    <p>Disfruta</p>
    <p style="color: blue">_________________________</p>
    </div>
    <div class="parent">
    <div class="div4">4</div>
    <div class="div5">
        Espacio para el entretenimiento
    </div>
    <div class="div6">6</div>
    <div class="div7">7</div>
    <div class="div8">8</div>
    <div class="div9">
        Habitaciones comodas y grandes
    </div>
    <div class="div10">
        Ambiente Familiar
    </div>
</div>
</div>
<div id="textTwo">
    <h2>Comentarios</h2>
    <p>Disfruta</p>
    <p style="color: blue">_________________________</p>
</div>
<div id="commits" data-aos="fade-right">
    <div id="commitOne" style="width: 30dvw; height: 35dvh;">
        <div id="contName">
            <div id="img" style="width: 50px; height: 50px; background-color: black; border-radius: 80px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; color: white;">N</p>
            </div>
            <div id="name">
                <h3>Nelso</h3>
                <p style="font-size: 15px; color: rgb(68, 68, 68);"> Hace 1 Mes</p>
            </div>
        </div>
        <div>
            <p style="font-size: 14px; margin-left: 10px;">
                ⭐⭐⭐⭐⭐
            </p>
        </div>
        <div id="descrip">
            <p>Excelente la atención y ubicación, habitaciones confortables y limpias, ambiente familiar. Super Recomendado</p>
        </div>
    </div>
    <div id="commitTow" style="width: 30dvw; height: 35dvh;">
        <div id="contName">
            <div id="img" style="width: 50px; height: 50px; background-color: black; border-radius: 80px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; color: white;">C</p>
            </div>
            <div id="name">
                <h3>Cristián Camilo</h3>
                <p style="font-size: 15px; color: rgb(68, 68, 68);"> Hace 1 Semana</p>
            </div>
        </div>
        <div>
            <p style="font-size: 14px; margin-left: 10px;">
                ⭐⭐⭐⭐⭐
            </p>
        </div>
        <div id="descrip">
            <p>Todo súper bien, tal cual como en las fotos, una súper ubicación muy central, impecable todo 
                La anfitriona súper amable, súper atenta 
                Recomendado 100/10</p>
        </div>
    </div>
</div>
<div id="commitsTwo" data-aos="fade-left">
    <div id="commitTow" style="width: 30dvw; height: 35dvh;">
        <div id="contName">
            <div id="img" style="width: 50px; height: 50px; background-color: black; border-radius: 80px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; color: white;">N</p>
            </div>
            <div id="name">
                <h3>Nelso</h3>
                <p style="font-size: 15px; color: rgb(68, 68, 68);"> Hace 1 Mes</p>
            </div>
        </div>
        <div>
            <p style="font-size: 14px; margin-left: 10px;">
                ⭐⭐⭐⭐⭐
            </p>
        </div>
        <div id="descrip">
            <p>Excelente la atención y ubicación, habitaciones confortables y limpias, ambiente familiar. Super Recomendado</p>
        </div>
    </div>  
    <div id="commitTow" style="width: 30dvw; height: 35dvh;">
        <div id="contName">
            <div id="img" style="width: 50px; height: 50px; background-color: black; border-radius: 80px; display: flex; align-items: center; justify-content: center;">
                <p style="text-align: center; color: white;">N</p>
            </div>
            <div id="name">
                <h3>Nelso</h3>
                <p style="font-size: 15px; color: rgb(68, 68, 68);"> Hace 1 Mes</p>
            </div>
        </div>
        <div>
            <p style="font-size: 14px; margin-left: 10px;">
                ⭐⭐⭐⭐⭐
            </p>
        </div>
        <div id="descrip">
            <p>Excelente la atención y ubicación, habitaciones confortables y limpias, ambiente familiar. Super Recomendado</p>
        </div>
    </div>  
</div>
<div id="textOne">
    <h2>Contacto</h2>
    <p>Disfruta</p>
    <p style="color: blue">_________________________</p>
</div>
<div id="contForm" style="width: 100%; height: 100%; display: flex; justify-content: center;">
    <div id="boxForm" style="background-image: url('/img/noche.jpg'); width: 50dvw; height: 70dvh; border-radius: 5px;">
        <div id="part1" style="width: 50dvw; height: 50dvh;">
            <div id="Title" style="margin: 10px; font-size: 20px;">
                <H3>Contact Us</H3>
                <br>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium aliquam quasi iure rem fugiat nesciunt sequi esse corrupti enim? Facere fugit ullam veritatis aperiam odit quam officiis reprehenderit obcaecati necessitatibus!</P>
                <br>
                <p>Nuestras redes sociales</p>
            </div>
            <div id="icons">
                <img src="/icon/facebook.png" alt="" style="max-width: 40px; max-height: 40px;">
                <img src="/icon/instagram.png" alt="" style="max-width: 40px; max-height: 40px;">
                <img src="/icon/whatsapp.png" alt="" style="max-width: 40px; max-height: 40px;">
            </div>
        </div>
        <div id="part2" style="width: 50dvw; height: 50dvh; margin-top: 10px;">
            <H3 style="text-align: center;">Formulario de contacto</H3>
            <form action="">
                <input type="text" placeholder="Ingrese su nombre">
                <input type="number" placeholder="Ingrese su telefono">
                <input type="email" placeholder="Ingrese su Correo electronico">
                <textarea name="" id="" placeholder="Descripción y metodo de contacto preferido" style="width: 20dvw; height: 20dvh;"></textarea>
                <button style="margin-top: 10px; width: 5dvw; height: 4dvh;">Enviar</button>
            </form>
        </div>
    </div>
</div>
